<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 페이지</title>
    <!-- favicon : th:fragment로 정리하기 나중에 -->
    <link rel="shortcut icon" href="../image/favicon/favicon.ico" />
    <link
      rel="icon"
      sizes="57x57"
      href="../image/favicon/apple-icon-57x57.png"
    />
    <link
      rel="icon"
      sizes="60x60"
      href="../image/favicon/apple-icon-60x60.png"
    />
    <link
      rel="icon"
      sizes="72x72"
      href="../image/favicon/android-icon-72x72.png"
    />
    <link
      rel="icon"
      sizes="76x76"
      href="../image/favicon/apple-icon-76x76.png"
    />
    <link
      rel="icon"
      sizes="114x114"
      href="../image/favicon/apple-icon-114x114.png"
    />
    <link
      rel="icon"
      sizes="120x120"
      href="../image/favicon/apple-icon-120x120.png"
    />
    <link
      rel="icon"
      sizes="144x144"
      href="../image/favicon/android-icon-144x144.png"
    />
    <link
      rel="icon"
      sizes="152x152"
      href="../image/favicon/apple-icon-152x152.png"
    />
    <link
      rel="icon"
      sizes="180x180"
      href="../image/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../image/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../image/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../image/favicon/android-icon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../image/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../image/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="../image/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <!-- 회원가입 양식 -->
    <!-- 추후 유효성 검사 추가 -->
    <div>
      <form action="/user/sign-up" method="post">
        <table>
          <tr>
            <th>ID :</th>
            <td>
              <input type="text" name="userId" id="userId" required />
            </td>
          </tr>
          <tr>
            <th>비밀번호 :</th>
            <td>
              <input type="password" name="userPw" id="userPw" required />
            </td>
          </tr>
          <!-- 비밀번호 확인 필요 -->
          <tr>
            <th>이름 :</th>
            <td>
              <input type="text" name="userName" id="userName" required />
            </td>
          </tr>
          <tr>
            <th>나이 :</th>
            <td>
              <input type="text" name="userAge" id="userAge" required />
            </td>
          </tr>
          <tr>
            <th>성별 :</th>
            <td>
              <input type="radio" name="gender" id="gender" value="남성" />남성
              <input type="radio" name="gender" id="gender" value="여성" />여성
            </td>
          </tr>
          <!-- 010 : option으로 바꾸고 뒷부분만 text -->
          <tr>
            <th>전화번호 :</th>
            <td>
              <input type="text" name="phoneNum" id="phoneNum" required />
            </td>
          </tr>
          <tr>
            <th>MBTI :</th>
            <td>
              <select name="mbti" id="mbti">
                <option value="" selected>선택</option>
                <option value="INTJ">INTJ</option>
                <option value="INTP">INTP</option>
                <option value="ENTJ">ENTJ</option>
                <option value="ENTP">ENTP</option>
                <option value="INFJ">INFJ</option>
                <option value="INFP">INFP</option>
                <option value="ENFJ">ENFJ</option>
                <option value="ENFP">ENFP</option>
                <option value="ISTJ">ISTJ</option>
                <option value="ISFJ">ISFJ</option>
                <option value="ESTJ">ESTJ</option>
                <option value="ESFJ">ESFJ</option>
                <option value="ISTP">ISTP</option>
                <option value="ISFP">ISFP</option>
                <option value="ESTP">ESTP</option>
                <option value="ESFP">ESFP</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>거주지 :</th>
            <td>
              <input type="text" name="address" id="address" required />
            </td>
          </tr>
        </table>
        <button type="button">취소</button>
        <button type="submit">회원가입</button>
      </form>
    </div>
  </body>
</html>
