<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
	<h1>로그인하기</h1>
	<form th:action="@{/member/login}" method="post">
		<div>
			<label for="memberId">로그인 ID</label> <input type="text"
				name="memberId" />
		</div>
		<div>
			<label for="memberPw">비밀번호</label> <input type="password"
				name="memberPw" />
		</div>
		<div th:if="error">
			<p id="valid" style="color: red; font-size: 12px;">
				<a th:text="${exception}"></a>
			</p>
		</div>
		<div>
			<button type="submit">로그인</button>
			<input type="button" th:onclick="|location.href='@{/member/sign-up}'|" value="회원가입">
		</div>
	</form>
</body>
</html>