<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>회원가입 페이지</title>
</head>
<body>
	<!-- 회원가입 양식 -->
	<!-- 추후 유효성 검사 추가 -->
	<div>
		<form th:action="@{/member/sign-up}" method="post">
			<table>
				<tr>
					<th>ID :</th>
					<td><input type="text" name="memberId" id="memberId" required/>
					</td>
				</tr>
				<tr>
					<th>비밀번호 :</th>
					<td><input type="password" name="memberPw" id="memberPw"
						 required/></td>
				</tr>
				<!-- 비밀번호 확인 필요 -->
				<tr>
					<th>이름 :</th>
					<td><input type="text" name="memberName" id="memberName"
						 required/></td>
				</tr>
				<tr>
					<th>나이 :</th>
					<td><input type="text" name="memberAge" id="memberAge"
						 required/></td>
				</tr>
				<tr>
					<th>성별 :</th>
					<td><input type="radio" name="gender" id="gender" value="남성" />남성
						<input type="radio" name="gender" id="gender" value="여성" />여성</td>
				</tr>
				<tr>
					<th>MBTI :</th>
					<td><select name="mbti" id="mbti">
							<option value="" selected>선택</option>
							<option value="INTJ">INTJ</option>
							<option value="INTP">INTP</option>
							<option value="ENTJ">ENTJ</option>
							<option value="ENTP">ENTP</option>
							<option value="INFJ">INFJ</option>
							<option value="INFP">INFP</option>
							<option value="ENFJ">ENFJ</option>
							<option value="ENFP">ENFP</option>
							<option value="ISTJ">ISTJ</option>
							<option value="ISFJ">ISFJ</option>
							<option value="ESTJ">ESTJ</option>
							<option value="ESFJ">ESFJ</option>
							<option value="ISTP">ISTP</option>
							<option value="ISFP">ISFP</option>
							<option value="ESTP">ESTP</option>
							<option value="ESFP">ESFP</option>
					</select></td>
				</tr>
				<tr>
				<!-- 수정 -->
					<th>거주지 :</th>
					<td><select name="region" id="region">
							<option value="" selected>선택</option>
							<option value="INTJ">INTJ</option>
							<option value="INTP">INTP</option>
							<option value="ENTJ">ENTJ</option>
							<option value="ENTP">ENTP</option>
							<option value="INFJ">INFJ</option>
							<option value="INFP">INFP</option>
							<option value="ENFJ">ENFJ</option>
							<option value="ENFP">ENFP</option>
							<option value="ISTJ">ISTJ</option>
							<option value="ISFJ">ISFJ</option>
							<option value="ESTJ">ESTJ</option>
							<option value="ESFJ">ESFJ</option>
							<option value="ISTP">ISTP</option>
							<option value="ISFP">ISFP</option>
							<option value="ESTP">ESTP</option>
							<option value="ESFP">ESFP</option>
					</select></td>
					</td>
				</tr>
			</table>
			<button type="button" th:onclick="|location.href='@{/}'|">취소</button>
			<button type="submit">회원가입</button>
		</form>
	</div>
</body>
</html>