<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>회원가입 페이지</title>
</head>
<body>
	<!-- 회원가입 양식 -->
	<div>
		<form th:action="@{/member/sign-up}" th:object="${member}" method="post">
			<table>
			<!-- 중복 확인 -->
				<tr>
					<th>ID :</th>
					<td>
						<input type="text" th:field="*{memberId}"/>
						<div th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}"></div>
					</td>
				</tr>
				<tr>
					<th>비밀번호 :</th>
					<td>
						<input type="password" th:field="*{memberPw}"/>
						<div th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></div>
					</td>
				</tr>
				<tr>
					<th>이름 :</th>
					<td>
						<input type="text" th:field="*{memberName}"/>
						<div th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></div>
					</td>
				</tr>
				<tr>
					<th>나이 :</th>
					<td>
						<input type="text" th:field="*{memberAge}"/>
						<div th:if="${#fields.hasErrors('memberAge')}" th:errors="*{memberAge}"></div>
					</td>
				</tr>
				<tr>
					<th>성별 :</th>
					<td th:each="gender: ${gender}">
						<input type="radio" th:field="*{gender}" th:value="${gender.name()}" />
						<label th:for="${#ids.prev('gender')}" th:text="${gender.description}"
							>남성</label>
						<div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
					</td>
				</tr>
				<tr>
					<th>MBTI :</th>
					<td><select th:field="*{mbti}">
							<option value="" selected>선택</option>
							<option th:each="mbti:${mbti}" th:value="${mbti.name()}" th:text="${mbti.name()}"></option>
							<!-- <option value="INTJ">INTJ</option>
							<option value="INTP">INTP</option>
							<option value="ENTJ">ENTJ</option>
							<option value="ENTP">ENTP</option>
							<option value="INFJ">INFJ</option>
							<option value="INFP">INFP</option>
							<option value="ENFJ">ENFJ</option>
							<option value="ENFP">ENFP</option>
							<option value="ISTJ">ISTJ</option>
							<option value="ISFJ">ISFJ</option>
							<option value="ESTJ">ESTJ</option>
							<option value="ESFJ">ESFJ</option>
							<option value="ISTP">ISTP</option>
							<option value="ISFP">ISFP</option>
							<option value="ESTP">ESTP</option>
							<option value="ESFP">ESFP</option> -->
					</select>
					<div th:if="${#fields.hasErrors('mbti')}" th:errors="*{mbti}"></div>
				</td>
				</tr>
				<tr>
				<!-- 수정 -->
					<th>거주지 :</th>
					<td><select th:field="*{region}">
							<option value="" selected>선택</option>
							<option th:each="region:${region}" th:value="${region.key}" th:text="${region.value}"></option>
							<!-- <option value="SEOUL">서울</option>
							<option value="INCHEON">인천</option>
							<option value="DAEGU">대구</option>
							<option value="GWANGJU">광주</option>
							<option value="DAEJEON">대전</option>
							<option value="ULSAN">울산</option>
							<option value="BUSAN">부산</option>
							<option value="JEJU">제주</option> -->
					</select>
					<div th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></div>
					</td>
				</tr>
			</table>
			<button type="button" th:onclick="|location.href='@{/}'|">취소</button>
			<button type="submit">회원가입</button>
		</form>
	</div>
</body>
</html>