<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body th:each="board:${boardDetail}">
    <div>
      <label>순번 : </label>
      <input type="text" th:value="${board.boardIdx}" readonly />
      <br />
      <label>제목 : </label>
      <input type="text" th:value="${board.title}" readonly />
      <br />
      <label>내용 : </label>
      <input type="text" th:value="${board.content}" readonly />
      <br />
      <label>작성자 : </label>
      <input type="text" th:value="${board.memberName}" readonly />
      <br />
      <label>작성 시간 : </label>
      <input type="text" th:value="${board.createDate}" readonly />
      <br />
      <label>수정 시간 : </label>
      <input type="text" th:value="${board.updateDate}" readonly />
      <br />
      <label>조회수 : </label>
      <input type="text" th:value="${board.hitCnt}" readonly />
      <br />
    </div>
    <div>
      <input
        type="button"
        th:onclick="|location.href='@{/board}'|"
        value="목록으로"
      />
      <input
        type="button"
        th:onclick="|location.href='@{/board/update/{boardIdx}(boardIdx=${board.boardIdx})}'|"
        value="게시글 수정"
      />
      <form th:action="@{|/board/delete/${board.boardIdx}|}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="게시글 삭제" />
      </form>
    </div>
    <br /><br />
    
    <h5>댓글을 남기세요</h5>
    
    <div>
    	<table>
    		<tr>
    			<th>작성자</th>
    			<th>내용</th>
    			<th>작성 시간</th>
    		</tr>
    		<tr th:each="comment:${comment}">
    			<td th:text="${comment.memberName}">아직</td>
    			<td th:text="${comment.content}">댓글이</td>
    			<td th:text="${comment.createDate}">없습니다.</td>
    		</tr>
    	</table>
    </div>
    
    <div>
      <form th:action="@{|/board/${board.boardIdx}|}" method="post">
      	<input type="hidden" name="boardIdx" th:value="*{board.boardIdx}" />
        <fieldset>
          <dl>
            <dt>
              <label for="memberName">작성자 : </label>
            </dt>
            <dd>
              <input type="text" name="memberName"/>
            </dd>
            <dt>
              <label for="content">댓글 :</label>
            </dt>
            <dd>
              <input type="text" name="content">
            </dd>
          </dl>
          <input type="submit" value="작성">
        </fieldset>
      </form>
    </div>
  </body>
</html>
