<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수정</title>
</head>
<body>
	<form th:object="${board}" 
		  th:action="@{|/board/update/${board.boardIdx}|}" 
		  method="post">
	<div>
		<label>순번 : </label>
		<input type="number" th:field="*{boardIdx}" th:value="${board.boardIdx}" disabled readonly>
		<br>
		<label>제목 : </label>
		<input type="text" th:field="*{title}" th:value="${board.title}">
		<br>
		<label>내용 : </label>
		<input type="text" name="content" th:field="*{content}" th:value="${board.content}">
		<br>
		<label>좋아요 : </label>
		<input type="text" th:field="*{likes}" th:value="${board.likes}" readonly>
		<br>
		<label>싫어요 : </label>
		<input type="text" th:field="*{dislikes}" th:value="${board.dislikes}" readonly>
		<br>
		<label>작성 시간 : </label>
		<input type="text" th:field="*{createDate}" th:value="${board.createDate}" readonly>
		<br>
		<label>수정 시간 : </label>
		<input type="text" th:field="*{updateDate}" th:value="${board.updateDate}" readonly>
		<br>
		<label>조회수 : </label>
		<input type="text" th:field="*{hitCnt}" th:value="${board.hitCnt}" readonly>
		<br>
	</div>
	<div>
		<input type="button" th:onclick="|location.href='@{/board}'|" value="취소">
		<input type="submit" value="수정 완료">
	</div>
	</form>
</body>
</html>