<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이상형 체크😍</title>
  </head>
  <body>
    <div>
      <form action="/ideal/check" method="post">
        <table>
          <tr>
            <td>연령대 :</td>
            <td>
              <input type="checkbox" name="age" id="age" value="20" />
              <label for="age">20대</label>
            </td>
            <td>
              <input type="checkbox" name="age" id="age" value="30" />
              <label for="age">30대</label>
            </td>
            <td>
              <input type="checkbox" name="age" id="age" value="40" />
              <label for="age">40대 이상</label>
            </td>
            <td>
              <input type="checkbox" name="age" id="age" value="0" />
              <label for="age">상관 없음</label>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>거주지 :</td>
            <td>
              <input
                type="checkbox"
                name="residence"
                id="residence"
                value="서울"
              />
              <label for="residence">서울</label>
            </td>
            <td>
              <input
                type="checkbox"
                name="residence"
                id="residence"
                value="인천"
              />
              <label for="residence">인천</label>
            </td>
            <td>
              <input
                type="checkbox"
                name="residence"
                id="residence"
                value="경기"
              />
              <label for="residence">경기</label>
            </td>
            <td>
              <input
                type="checkbox"
                name="residence"
                id="residence"
                value="제주"
              />
              <label for="residence">제주</label>
            </td>
            <td>
              <input
                type="checkbox"
                name="residence"
                id="residence"
                value="all"
              />
              <label for="residence">상관 없음</label>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>MBTI :</td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="INTJ" />
              <label for="mbti">INTJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="INTP" />
              <label for="mbti">INTP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ENTJ" />
              <label for="mbti">ENTJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ENTP" />
              <label for="mbti">ENTP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="INFJ" />
              <label for="mbti">INFJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="INFP" />
              <label for="mbti">INFP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ENFJ" />
              <label for="mbti">ENFJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ENFP" />
              <label for="mbti">ENFP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ISTJ" />
              <label for="mbti">ISTJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ISFJ" />
              <label for="mbti">ISFJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ESTJ" />
              <label for="mbti">ESTJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ESFJ" />
              <label for="mbti">ESFJ</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ISTP" />
              <label for="mbti">ISTP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ISFP" />
              <label for="mbti">ISFP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ESTP" />
              <label for="mbti">ESTP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="ESFP" />
              <label for="mbti">ESFP</label>
            </td>
            <td>
              <input type="checkbox" name="mbti" id="mbti" value="any" />
              <label for="mbti">상관 없음</label>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
